# Where are the list-directories stored (contain log-files and GnuPG-keyrings).
lists_dir: /var/schleuder/lists

# Where to write list-logs. The actual log-file will be <lists_logs_base_dir>/<hostname>/<listname>/list.log.
listlogs_dir: /var/schleuder/lists

# Schleuder reads plugins also from this directory.
plugins_dir: /etc/schleuder/plugins

# How verbose should Schleuder log to syslog? (list-specific messages are written to the list's log-file).
log_level: warn

# For these options see documentation for ActionMailer::smtp_settings, e.g. <http://api.rubyonrails.org/classes/ActionMailer/Base.html>.
smtp_settings:
  address: localhost
  port: 25
  #domain:
  #enable_starttls_auto:
  #openssl_verify_mode:
  #authentication:
  #user_name:
  #password:

# The database to use. Unless you want to run the tests you only need the `production`-section.
database:
  production:
    adapter:  'sqlite3'
    database: /var/schleuder/db.sqlite

# Note: The API-daemon will bind only to localhost if no TLS-cert+keys are available.
api:
  host: localhost
  port: 4443
  # Serve the API via https?
  use_tls: false
  # Certificate and key to use. You can create new ones with `schleuder cert generate`.
  tls_cert_file: /etc/schleuder/schleuder-certificate.pem
  tls_key_file: /etc/schleuder/schleuder-private-key.pem
  # List of api_keys to allow access to the API.
  # Example:
  # valid_api_keys:
  #   - abcdef...
  #   - zyxwvu...
  valid_api_keys:
    {% for key in schleuder_api_keys %}
    - {{ key }}
    {% endfor %}
